body {
    font-family: sans-serif;
}
.header {
    margin: 15px auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.logo {
    width: 204px;
    display: flex;
    justify-content: space-between;
}
.creatButton {
    width: 312px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 35px;
    text-align: center;
    color: rgba(0, 0, 0, 255);
    align-self: center;
    background-color: lightgrey;
    border: solid lightgrey;
    border-radius: 5px ;
    position: relative;
}
#visit {
    position: fixed;
    z-index: 9000;
    width: 40%;
    /* height: 75%; */
    background-color: gray;
    opacity: 1;
    right: 30%;
    top: 0;
    text-align: center;
    margin-top: 90px;
    padding-top: 25px;
    padding-bottom: 15px;
    border: 1px solid grey;
    border-radius: 25px;
}
p {
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.label {
    width: 150px;
    height: 15px;
    align-self: center;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}
.visitInput {
    width: 520px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    border: 1px solid;
    border-radius: 5px;
}
#btnCreat {
    width: 220px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 20px;
    border: 1px solid;
    border-radius: 5px;
}
.creatCard {
    position: absolute;
    right: 5px;
    top: 110px;
    width: 435px;
    background-color: #ffebc9;
}
.doctors {
    width: 247px;
    padding: 11px 7px 8px 16px;
    background-color: #776f62;
    display: flex;
    justify-content: space-between;
    border: solid #776f62;
    border-radius: 3px;
    margin-left: 33px;
    margin-top: 25px;
    position: relative;
}
.cross{
    position: absolute;
    top: 20px;
    right: 20px;
}
.displayNone {
    display: none;
}
.doctorsText {
    font-size: 25px;
    color: rgba(254, 254, 254, 255);
}
ul>li {
    width: 245px;
    font-size: 20px;
    color: rgba(0, 0, 0, 255);
    margin-left: 33px;
    margin-top: 3px;
    padding: 7px 7px 8px 16px;
    border: 1px solid #ada79d;
    border-radius: 1px;
}
.bgWhite {
    background-color: #fefefe;
}
.bgWhite:hover {
    background-color: #ada79d;
    border: 1px solid #fefefe;
    border-radius: 1px;
}
.creatBtn {
    width: 396px;
    margin-left: 33px;
    margin-top: 3px;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    color: rgba(254, 254, 254, 255);
    background-color: #776f62;
    text-align: center;
    border: 1px solid #776f62;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 11px;
    cursor: pointer;
}
.backgroundContainer {
    font-size: 58px;
    color: rgba(255, 255, 255, 255);
    width:100%;
    height: 900px;
    /*text-align: center;*/
    /*border: 1px solid #ada79d;*/
    display: flex;
    /*justify-content: space-between;*/
    flex-wrap: wrap;
    background: url(../img/bg.png) 100% 100% no-repeat;
    background-size: cover;

}
#backgroundContainerText {
    display: block;
    align-self: center;
    /*margin-left: 500px;*/
}

#form{
    width: 85%;
    margin: 0 auto;
}

.cards {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
}
.doctorCard {
    font-size: 25px;
    text-align: center;
}
/*.bgForCard {*/

/*    width:100%;*/
/*    height: 900px;*/

/*    !*border: 1px solid #ada79d;*!*/
/*    display: flex;*/
/*    justify-content: space-around;*/
/*    flex-wrap: wrap;*/
/*}*/
.divForCard {
    width: 350px;
    max-height: 17%;
    display: flex;
    flex-direction: column;
    /*padding-top: 50px;*/
    /*padding-bottom: 50px;*/
    background-color: #ada79d;
    color:cornflowerblue;
    position: relative;
    border: 1px solid grey;
    border-radius: 10px;
    margin-left: 10px;
    /*overflow: hidden*/
}
.cross2 {
    position: absolute;
    top: 10px;
    right: 10px;
}
.inputShowMore {
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fefefe;
    font-size: 14px;
    border: 1px solid #fefefe;
    border-radius: 3px;
    align-self: center;
    position: absolute;
    bottom: 10px;
    left: 60px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;

}
.p_0 {
    color: #fefefe;
    font-size: 24px;
    margin-top: 20px;
    padding-left: 20px;
}
.p {
    color: #fefefe;
    font-size: 24px;
    margin-top: 20px;
    padding-left: 10px;
    display: none;
}